{% extends 'home/base.html' %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr class="visible-xs"> 
                <p>The most recent version of the FNGS Workflow:</p>
                <img src="{% static 'img/fngs_wf.jpeg' %}" alt="FNGS Workflow" height="700" width="1000">
                <h2>Internal Algorithms</h2>
                <p>Nuisance Correction</p>
                <p>ROI Timeseries Extraction</p>
                <p>Voxel Timeseries Extraction</p>
                <h2>External Algorithms</h2>
                <p><a href="http://poc.vl-e.nl/distribution/manual/fsl-3.2/slicetimer/index.html">Slicetimer</a></p>
                <p><a href="https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/MCFLIRT">MCFLIRT</a></p>
                <p><a href="https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FLIRT">FLIRT</a></p>
                <p><a href="https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FNIRT">FNIRT</a></p>

            </di>
        </div>
    </div>
{% endblock %}