{% extends 'explore/subject.html' %}

{% block child %}    
<div class="row">
    <div class="box">
        <div class="col-lg-12">
		    <h1>Registration</h1>
		    <p>In these figures, we are looking to get a sense of the quality of our alignment. We compare scans using one blue brain and one red brain, where any non-purple indicates failures of alignment. First, we look at the aligned fMRI image (blue) overlaid with the reference atlas (red):</p>
		    <h3>Aligned fMRI (Blue) with Atlas (Red)</h3>
		    <img src="{{ mean_ref }}" alt="Mean Atlas Overlap" height="600" width="600">
		    <h3>Aligned Structural scan (Blue) with Atlas (Red)</h3>
		    <img src="{{ anat_ref }}" alt="Mean Struct Overlap" height="600" width="600">
		    <h3>Aligned fMRI (Blue) with Structural scan (Red)</h3>
		    <img src="{{ mean_anat }}" alt="fMRI Struct Overlap" height="600" width="600">
		    <h2>Comparison Before and After Registration</h2>
		    <p>Next, we want to determine the effectiveness of our registration. Similar to the motion correction plots, we compute the axial slice-wise MSE between each axial slice per time point and that of the atlas we are registering to.</p>
		    <img src="{{ reg_jitter }}" alt="Registration jitter" height="600" width="700">
		    <img src="{{ reg_kde }}" alt="Registration KDE" height="600" width="700">
	    </div>
	</div>
</div>

{% endblock %}