{% extends 'explore/subject.html' %}

{% block child %}    
<div class="row">
    <div class="box">
        <div class="col-lg-12">
		    <h1>Overall</h1>
		    <h2>Summary Figures</h2>
		    <h3>Standard Deviation</h3>
		    <p>The voxelwise standard deviation over time:</p>
		    <img src="{{ std }}" alt="Voxelwise STD" height="600" width="600">

		    <h3>Mean/STD</h3>
		    <p>Next, we have the signal to noise ratio, where we define the signal to noise ratio as the quotient between the voxelwise mean and the standard deviation. Here, we generally want to have a high signal to noise ratio, as a low signal to noise ratio can often be indicative of a scanner issue or an issue running the pipeline:</p>
		    <img src="{{ snr }}" alt="Voxelwise SNR" height="600" width="600">

		    <h3>Mean Slice Intensity</h3>
		    <p>Our final few plots concern voxel statistics. First, we want to check our slice intensities. We average all of the voxels for each slice in the image, and the goal is that the average intensities are relatively consistent as we proceed in time. We show a single line for each axial slice:</p>
		    <img src="{{ intens }}" alt="fMRI Struct Overlap" height="600" width="700">

		    <h3>Histogram</h3>
		    <p>Next, we look at a histogram of voxel intensities. This distribution should appear to be relatively normal, and can sometimes take the form of a Gaussian Mixture, with one main pack of voxels (the brain intensities) and a very low number of voxels of far lower intensity (probably the skull):</p>
		    <img src="{{ voxel_hist }}" alt="fMRI Struct Overlap" height="600" width="700">
	    </div>
	</div>
</div>

{% endblock %}