{% extends 'explore/subject.html' %}

{% block child %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
		    <h1>Overall</h1>
		    <p>In these figures, we are looking to make sure that our brains are all in the same brain spaces. Attempting to extract timeseries if the label and the atlas are not in the same brain space could lead to disasterous results; our inferences could be impacted because regions we expect to be in particular places are not actually the correct regions in the fMRI scans, or we could extract voxels for regions that are not brain at all. We compare blue brain and one red brain, where any non-purple indicates inconsistent brain spaces (note that the rois are labelled from 1 to 70, so the lower ROIs may be quite faint in the figures). Finally, for each atlas, we show the timeseries of intensities.</p>
		    {% for label, lab in labelled_atlas.items %}
		    	<h2>{{ label }}</h2>
		    	<h3>Regitration Atlas (blue) Aligned with Labelled Atlas (red)</h3>
			    <img src="{{ lab.at2label }}" alt="Mean Label Overlap" height="600" width="600">
		    	<h3>Timeseries</h3>
			    <img src="{{ lab.timeseries }}" alt="Mean Label Overlap" height="600" width="600">
			{% endfor %}
	    </div>
	</div>
</div>
{% endblock %}